/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .butterfly {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(20px 30px 10px black);
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .j::after{
    content: "Danaus plexippus";
    font-weight: bold;
  }

  .area11 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .area12 {
    box-shadow: 0 30px 16px 0 rgba(0, 0, 1, 1);
    margin: 8px;
  }
  
  .area13 {
    padding: 0 16px;
    
  }
  
  .area13::after, .row1::after {
    content: "";
    clear: both;
    display: table;
  }


  .area1 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .area2 {
    box-shadow: 0 30px 16px 0 rgba(0, 0, 1, 1);
    margin: 8px;
  }
  
  .area3 {
    padding: 0 16px;
    
  }
  
  .area3::after, .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 30px 16px 0 rgba(0, 0, 1, 1);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #6fc776;
    color: white;
    
  }
  
  .container {
    padding: 0 16px;
    
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
      
    }
  }
